// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.users{
	border-bottom: solid 1px #CCC;
}

.users .admin {
	display: none;
}

.users.hover .admin{
	display: inline;
}

.users.hover {
	background: #F0F0F0;
}

